body {
  background-color: #ebe8db;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  padding: 0px;
}
.s1 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 247, 240);
  text-align: center;
  padding: 20px;
  margin: 0px;
}
a.nen:hover {
  background-color: blue;
}
a.oo {
  color: aliceblue;
  text-decoration: none;
  background-color: #9e9a8a;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4px;
  padding-bottom: 4px;
}
.canle {
  text-align: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
#khung {
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: aliceblue;
  border: 2px solid black;
}
div.vanban {
  text-align: left;
  width: 30%;
  display: inline-block;
}
div.vanban2 {
  text-align: left;
  width: 30%;
  display: inline-block;
}
div.blind {
  display: none;
}
.bovien {
  border: 2px inset grey;
  border-radius: 5px;
}
div.vanban3 {
  text-align: left;
  width: 30%;
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
  border: 3px outset papayawhip;
  background-color: bisque;
  line-height: 40px;
}
.ket {
  border: 3px outset rgb(253, 141, 66);
  background-color: bisque;
  color: darkorange;
}
.sss {
  border: 3px outset rgb(21, 121, 96);
  background-color: rgb(57, 224, 183);
  color: rgb(235, 206, 171);
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
