body {
    font-family: Arial, sans-serif;
    background-image: url("3372539.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.a1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

.container {
    width: 700px;
    margin: 50px auto;
    background: #bbeeff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.container1 {
    width: 100%;
    height: 50px;
    margin: 0px auto;
    background-color: #102a43;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

button {
    background-color: #748db0;
    height: 40px;
    font-size: 15px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #2c3e50;
}

img {
    display: block;
    margin: 20px auto;
    width: 150px;
    border-radius: 10%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    margin-left: 20px;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: gray;
    font-size: 14px;
}

.img1 {
    width: 250px;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: auto;
    margin-left: 20px;
}

.img2 {
    height: auto;
    width: 500px;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: auto;
    margin-left: 20px;
}