* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #000;
    color: #eaeaea;
    display: flex;
    justify-content: center;
}

.profile {
    width: 900px;
    padding: 30px;
}

/* Header */
.header {
    display: flex;
    gap: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #262626;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.header-info {
    flex: 1;
}

.username-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username-row h2 {
    font-weight: normal;
}

.follow {
    background: #0095f6;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.message {
    background: #262626;
    color: white;
    border: 1px solid #363636;
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.stats {
    display: flex;
    gap: 40px;
    margin: 20px 0;
}

.stats strong {
    color: white;
}

.bio {
    line-height: 1.4;
}

.link {
    display: inline-block;
    margin-top: 10px;
    color: #e0f1ff;
    text-decoration: none;
    font-size: 14px;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
    border-top: 1px solid #262626;
    padding-top: 12px;
    font-size: 13px;
    letter-spacing: 1px;
}

.tabs span {
    color: #8e8e8e;
    cursor: pointer;
}

.tabs .active {
    color: white;
}

/* Posts */
.posts {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.posts img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.posts img:hover {
    filter: brightness(0.6);
}
.post {
    position: relative;
    cursor: pointer;
}

.post img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal img {
    max-width: 85%;
    max-height: 85%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}


