
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.header {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f0e6ff;
    border-style: solid;
    border-width: 1px;
    border-color: #a83ee6;
}

.avatar {
    width: 150px;
    height: 192px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(167, 75, 209);
}


.name h1 {
    margin: 10px 0 5px 0;
    color: #003366;
}

.name p {
    margin: 0;
    font-size: 14px;
}

.section {
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}


ul li {
    margin-bottom: 30px;  
}

ul li img {
    width: 800px;
    margin-top: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}

ul li p {
    margin-top: 10px;      
    font-size: 16px;       
    color: #555;
    text-align: center; 
}

#quote {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff2cc;
    border-style: solid;
    border-width: 1px;
    border-color: #ffcc66;
    font-style: italic;
}
