* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #000;
    color: #fff;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: #111;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #ff9000;
}

/* BANNER */
.banner {
    display: flex;
    padding: 40px;
    gap: 30px;
    background: linear-gradient(180deg, #000, #111);
}

.avatar {
    width: 260px;
    height: 360px;
    background: #222;
    border-radius: 6px;
    background-image: url("https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/536276402_781273907745414_7438547626703599710_n.jpg?_nc_cat=107&_nc_cb=99be929b-ad57045b&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFgbcKFwY5HC-4N2uTuAlAhotKPKHnnrdii0o8oeeet2Lnpb80gqusvwzd7FiPyW5jZKFCbKozyC2fKPi_HmMoJ&_nc_ohc=UukqO8Fo7JMQ7kNvwHG6vhA&_nc_oc=AdmNq2F0nAqFKx0m_5YMyeusGjyIK-Lnbyx4HBz_g_gNvDw0kvDNHy5D7ZQw7WiwNvhGQESDAMPf74ZsAa5KX9mv&_nc_zt=23&_nc_ht=scontent.fdad2-1.fna&_nc_gid=JcCicyluD5AFT6xZlXcKPg&oh=00_AfqkkgeCXe5KDdKzOevPgzvNtQcCnUek6bYOI80zrUXWtQ&oe=6966D3B7");
    background-size: cover;
    background-position: center;
}

.info h1 {
    margin: 0;
    font-size: 36px;
}

.info .tag {
    color: #ff9000;
    font-weight: bold;
    margin: 10px 0;
}

.info p {
    line-height: 1.6;
    color: #ccc;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #ff9000;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

/* SECTION */
.section {
    padding: 30px;
}

.section h2 {
    margin-bottom: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #1a1a1a;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.thumb {
    height: 140px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.card .content {
    padding: 12px;
}

.card h3 {
    margin: 0;
    font-size: 16px;
}

.card span {
    font-size: 13px;
    color: #aaa;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 14px;
}

/* IMAGE SECTION */
.image-section {
    padding: 40px 30px;
    background: #0d0d0d;
}

.image-section h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #ff9000;
    text-align: center;
}

/* GRID áº¢NH */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.image-grid img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.3s;
    background: #222;
}

.image-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(255, 144, 0, 0.35);
}

